.team-preview {
    padding: 100px 0 100px;

    @include below-tablet {
        padding-top: 80px;
        padding-bottom: 88px;
    }

    @include below-mobile {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    &__wrapper {
        display: grid;
        gap: 32px;
        min-width: 0;

        @include below-mobile {
            gap: 20px;
        }
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 24px;

        @include below-mobile {
            display: grid;
            gap: 20px;
        }
    }

    &__head {
        max-width: 650px;

        @include below-mobile {
            gap: 10px;
        }
    }

    &__title {
        @include below-mobile {
            font-size: 24px;
        }
    }

    &__text {
        @include below-mobile {
            font-size: 14px;
        }
    }

    &__nav {
        flex-shrink: 0;
    }

    &__slider {
        width: 100%;
        min-width: 0;
        overflow: hidden;
    }

    &__track {
        align-items: stretch;
    }

    &__slide {
        height: auto;
        box-sizing: border-box;
        min-width: 0;

        @include below-mobile {
            width: 280px;
        }
    }
}
