meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title Wipe Clean
link(rel="preload" href="/static/fonts/Involve-Bold.ttf" as="font" type="font/ttf" crossorigin)
link(rel="stylesheet" href="/static/css/vendor/fancybox.css")
link(rel="stylesheet" href="/static/css/vendor/swiper-bundle.css")
link(rel="stylesheet" href="/static/css/style.css")
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
