extends ../layouts/default

block content
    include ../data/pages/apartment-cleaning-data
    .service-page
        include ../section/service-hero/service-hero
        include ../section/service-purpose/service-purpose
        .ui-wave-group
            include ../section/service-includes/service-includes
            include ../section/service-benefits/service-benefits
        include ../section/order-cta/order-cta
        .ui-wave-group.service-page__price-wave
            include ../section/service-price/service-price
        include ../section/before-after-results/before-after-results
        include ../section/other-services/other-services
        include ../section/faq/faq
        include ../section/contacts/contacts
