extends ../layouts/default

block header

block footer

block content
    .blog-page
        include ../section/blog-archive/blog-archive
        include ../section/reviews-preview/reviews-preview
        include ../section/gallery-preview/gallery-preview
        -
            var contactsSectionData = {
                idPrefix: "blog-contacts"
            }
        include ../section/contacts/contacts
