extends ../layouts/default

block header

block footer

block content
    include ../section/home-hero/home-hero
    include ../section/services-preview/services-preview
    .ui-wave-group
        include ../section/price-preview/price-preview
        include ../section/work-steps/work-steps
        include ../section/quote-request/quote-request
    include ../section/company-preview/company-preview
    include ../section/reviews-preview/reviews-preview
    include ../section/gallery-preview/gallery-preview
    include ../section/faq/faq
    include ../section/contacts/contacts
