extends ../layouts/default

block content
    include ../data/pages/single-blog-data
    include ../section/blog-article-hero/blog-article-hero
    include ../section/blog-article-content/blog-article-content
    include ../section/related-posts/related-posts
    include ../section/contacts/contacts
