mixin featureCard(item)
    article.feature-card(class=item.className)
        .feature-card__head
            .feature-card__icon
                span.feature-card__icon-box
                    img(src="/static/images/section/company-preview/icon-experience.svg" alt="" aria-hidden="true" loading="lazy")
            h3.feature-card__title= item.title
        p.feature-card__text= item.text
