@-webkit-keyframes ui-card-contour-run {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes ui-card-contour-run {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.blog-article-content {
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .blog-article-content {
    padding-top: 25px;
    padding-bottom: 44px;
  }
}
@media (max-width: 650px) {
  .blog-article-content {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
.blog-article-content__wrapper {
  display: -ms-grid;
  display: grid;
}
.blog-article-content__article {
  width: min(100%, 874px);
  margin: 0 auto;
}
@media (max-width: 650px) {
  .blog-article-content__article {
    width: 100%;
  }
}