-
    var documentContentSection = {
        title: "Политика в отношении обработки персональных данных"
    };

-
    var policyContactPanelData = {
        title: "Контакты клининговой компании ВАЙП–Клин",
        formTitle: "Форма заявки",
        idPrefix: "policy",
        nameLabel: "Ваше имя",
        namePlaceholder: "Введите имя и фамилию",
        phoneLabel: "Номер телефона",
        phonePlaceholder: "+7 _ _ _ _ _ _ _ _ _ _",
        agreementText: "Заполняя форму вы даете согласие на обработку персональных данных",
        submitText: "Узнать стоимость клининга",
        submitTextMobile: "Рассчитать стоимость",
        phoneCard: {
            label: "Номер телефона",
            value: "+7 980 163 6101",
            href: "tel:+79801636101"
        },
        socialCard: {
            type: "socials",
            label: "Электронная почта",
            items: [
                {
                    label: "Telegram",
                    href: "#",
                    iconSrc: "/static/images/section/contacts/akar-icons_telegram-fill.png"
                },
                {
                    label: "WhatsApp",
                    href: "#",
                    iconSrc: "/static/images/section/contacts/Vector.png"
                },
                {
                    label: "VK",
                    href: "#",
                    iconSrc: "/static/images/section/contacts/Vector (1).png"
                }
            ]
        },
        emailCard: {
            label: "Электронная почта",
            value: "MAILBOX@WIPECLEAN.RU",
            href: "mailto:mailbox@wipeclean.ru"
        }
    };
