include ../../components/feature-card/feature-card

-
    var workApproachCards = [
        {
            title: "Системность",
            text: "Каждая клининговая компания в Москве должна иметь внутренний кодекс действий, и мы внедрили жесткую систему планирования каждого визита. Мы подходим к работе системно, следуя схеме, исключающей пропуски загрязненных зон или повторное запыление. Весь профессиональный клининг в Москве — это слаженный механизм, где каждое движение направлено на результат.",
            icon: "/static/images/ui/feature-card-star.png"
        },
        {
            title: "Поэтапный подход",
            text: "Реализация задачи разделена на строгие циклы: от сухой обеспыливающей обработки до финишной дезинфекции и полировки поверхностей. Профессиональный клининг в Москве от нашей команды подразумевает последовательное движение «сверху вниз», что предотвращает перенос грязи. Только после завершения предыдущего этапа мы переходим к следующему шагу, обеспечивая глубокую очистку.",
            icon: "/static/images/ui/feature-card-star.png"
        },
        {
            title: "Промышленный арсенал",
            text: "В работе мы используем мощную технику, которая достает пыль и пятна даже из самой глубины тканей, не портя их внешний вид. Качественная клининговая компания в Москве не обходится без парогенераторов и экстракторов, ведь только так можно достичь чистоты, недоступной обыкновенному пылесосу. Оснащение помогает нам справляться с задачами быстрее, создавая в помещениях здоровую и безопасную атмосферу.",
            icon: "/static/images/ui/feature-card-star.png"
        },
        {
            title: "Бережная дезинфекция",
            text: "Для работы мы выбираем такие средства, которые легко справляются с бактериями, но не оставляют в комнатах тяжелого химического запаха. В Москве клининговая компания для дома использует составы, которые полностью смываются с поверхностей, создавая в помещениях по-настоящему свежий воздух. Мы всегда насухо протираем дверные ручки и выключатели, чтобы вы могли пользоваться чистым жильем.",
            icon: "/static/images/ui/feature-card-star.png"
        }
    ]

section.work-approach
    ._container
        .work-approach__wrapper
            .work-approach__head.ui-section-head.ui-section-head--center
                h2.ui-title.work-approach__title Наш подход к работе
                p.ui-text.work-approach__text Мы подходим к каждому объекту со строгим планом. Так проще не упустить ни одной мелочи и добиться настоящей свежести. Наша клининговая компания в Москве первым делом оценивает состояние мебели и покрытий, подбирая подходящие и безопасные составы. Такой порядок действий защищает имущество от повреждений. Мы ценим долгосрочное сотрудничество.

            .work-approach__slider.swiper(data-work-approach-swiper)
                .work-approach__grid.swiper-wrapper
                    each item in workApproachCards
                        .work-approach__slide.swiper-slide
                            +featureCard(item)

            a.ui-btn.ui-btn--primary.work-approach__action(href="#")
                span.ui-btn__content Заказать уборку
