extends ../layouts/default

block content
    include ../data/pages/about-us-data
    .about-page
        include ../section/about-hero/about-hero
        .ui-wave-group
            include ../section/company-story/company-story
            include ../section/work-approach/work-approach
        include ../section/team-preview/team-preview
        include ../section/why-us/why-us
        include ../section/services-preview/services-preview
        include ../section/reviews-preview/reviews-preview
        include ../section/order-cta/order-cta
        include ../section/contacts/contacts
