extends ../layouts/default

block content
    include ../data/pages/blog-data
    .blog-page
        include ../section/blog-archive/blog-archive
        include ../section/reviews-preview/reviews-preview
        include ../section/gallery-preview/gallery-preview
        include ../section/contacts/contacts
