extends ../layouts/default

block content
    include ../data/pages/contacts-data
    .contacts-page
        include ../section/contacts-hero/contacts-hero
        .contacts-page__requisites-wave
            include ../section/company-requisites-band/company-requisites-band
        include ../section/reviews-preview/reviews-preview
        include ../section/faq/faq
