extends ../layouts/default

block content
    include ../data/pages/prices-data
    .prices-page
        include ../section/prices-hero/prices-hero
        .ui-wave-group
            include ../section/services-preview/services-preview
            include ../section/area-pricing/area-pricing
        include ../section/price-factors/price-factors
        include ../section/price-advantages/price-advantages
        include ../section/company-highlight/company-highlight
        include ../section/contacts/contacts
