extends ../layouts/default

block content
    include ../data/pages/promotions-data
    .promotions-page
        include ../section/promotions-archive/promotions-archive
        include ../section/company-preview/company-preview
        include ../section/contacts/contacts
        include ../section/faq/faq

append popups
    include ../data/pages/promotions-data
    include ../section/promotions-archive/promotions-popups
