extends ../layouts/default

block content
    include ../section/reviews-archive/reviews-archive
    include ../section/video-reviews/video-reviews
    include ../section/message-reviews/message-reviews
    include ../section/before-after-results/before-after-results
    include ../section/faq/faq
    include ../section/gallery-preview/gallery-preview
    include ../section/contacts/contacts
