extends ../layouts/default

block content
    include ../data/pages/services-data
    .services-page
        include ../section/services-intro/services-intro
        .ui-wave-group
            include ../section/services-benefits/services-benefits
        include ../section/faq/faq
        include ../section/contacts/contacts
