-
    var footerMenuItems = [
        {
            label: "О компании",
            href: "about-us.html"
        },
        {
            label: "Услуги",
            href: "services.html"
        },
        {
            label: "Цены",
            href: "prices.html"
        },
        {
            label: "Акции",
            href: "promotions.html"
        },
        {
            label: "Отзывы",
            href: "reviews.html"
        },
        {
            label: "Блог",
            href: "blog.html"
        },
        {
            label: "FAQ",
            href: "faq.html"
        },
        {
            label: "Контакты",
            href: "contacts.html"
        }
    ];

    var footerMenuColumns = [
        footerMenuItems.slice(0, 4),
        footerMenuItems.slice(4)
    ];

    var footerRequisites = [
        {
            label: "ООО",
            value: "«ВАЙП–Клин»"
        },
        {
            label: "ОГРН",
            value: "0000000000000"
        },
        {
            label: "ИНН",
            value: "0000000000"
        },
        {
            label: "КПП",
            value: "000000000"
        }
    ];

    var footerLegalLinks = [
        {
            label: "Политика конфиденциальности",
            href: "policy.html"
        },
        {
            label: "Согласие ОПД",
            href: "policy.html"
        },
        {
            label: "Согласие Cookies",
            href: "policy.html"
        }
    ];

    var footerPhoneCard = {
        label: "Номер телефона",
        value: "+7 980 163 6101",
        href: "tel:+79801636101"
    };

    var footerSocialCard = {
        type: "socials",
        label: "Мессенджеры",
        items: [
            {
                label: "Telegram",
                href: "#",
                iconSrc: "/static/images/section/contacts/akar-icons_telegram-fill.png"
            },
            {
                label: "WhatsApp",
                href: "#",
                iconSrc: "/static/images/section/contacts/Vector.png"
            },
            {
                label: "VK",
                href: "#",
                iconSrc: "/static/images/section/contacts/Vector (1).png"
            }
        ]
    };

    var footerEmailCard = {
        label: "Электронная почта",
        value: "MAILBOX@WIPECLEAN.RU",
        href: "mailto:mailbox@wipeclean.ru"
    };
