-
    var popupServiceOptions = [
        {
            value: "support-cleaning",
            label: "Поддерживающая уборка"
        },
        {
            value: "general-cleaning",
            label: "Генеральная уборка"
        },
        {
            value: "window-cleaning",
            label: "Мытьё окон"
        },
        {
            value: "post-repair",
            label: "Уборка после ремонта"
        }
    ];

    var popupFrequencyOptions = [
        {
            value: "single",
            label: "Разовая"
        },
        {
            value: "weekly",
            label: "Еженедельно"
        },
        {
            value: "twice-month",
            label: "2 раза в месяц"
        }
    ];

    var popupAreaChoices = [
        "однокомнатная",
        "2-х комнатная",
        "3/4-х комнатная",
        "_ _ _ _ M<sup>2</sup>"
    ];
